<header>
    <ul>
        <li><a href="/">Home</a></li>
        {{#if logged_in}}
            <li><a href="#" id="logout">Logout</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {{/if}}
    </ul>
</header>

<script src="/js/logout.js"></script>