{{#extend 'main'}}

{{#content 'title'}}Dashboard{{/content}}

{{#content 'body'}}
    <h1>Welcome to Restaurant-Hub</h1>
    <p>This is your personalized dashboard. You can view and manage your account information, settings, and more.</p>
    <div class="user-info">
        <h2>User Information</h2>
        <p><strong>Username:</strong> {{user.username}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
       
    </div>
   
{{/content}}
{{/extend}}
