<h1 class="page-title">Welcome to Restaurant Review Hub</h1>

<p>Find the best restaurants and how they stack up!</p>

<form id="search-form" method="POST" action="/search">
    <label for="name">Restaurant Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="address">Address or City:</label>
    <input type="text" id="address" name="address">

    <button class="btn-shadow btn-center" type="submit">Search</button>
</form>

<script src="/js/search.js"></script>