
    <h1>Search Results</h1>
    {{#if restaurants.length}}
        <ul>
            {{#each restaurants}}
                <li>{{this.name}} - {{this.rating}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>No restaurants found.</p>
    {{/if}}

